# macOS
.DS_Store

# Python virtual env
venv/
.venv/

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Model artifacts (optional)
models/*.pkl
models/*.pt
models/*.bin
